<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuova Squadra</title>
</head>
<body>

<h2>Inserisci una nuova squadra</h2>

<form action="/Squadre/nuovo" method="post">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="nome" required><br>

    <label for="citta">Città:</label><br>
    <input type="text" id="citta" name="citta" required><br>

    <label for="punteggio">Punteggio:</label><br>
    <input type="number" id="punteggio" name="punteggio" required><br>

    <input type="submit" value="Invia">
</form>

</body>
</html>
